@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Nunito", sans-serif;
	line-height: 1.8;
}
html::-webkit-scrollbar {
	width: 0;
}
textarea::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f0f0f0;
}
textarea::-webkit-scrollbar {
	width: 6px;
	background-color: #f0f0f0;
}
textarea::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #888888;
}
